@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
* {
  box-sizing: border-box;
}

#root,
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-image: url("https://jiahkimlaw.com/wp-content/uploads/2016/11/charity-trust-or-foundation_600x400.jpeg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-form {
  width: 460px;
  margin: auto 100px;
  padding: 32px;
  font-weight: bold;
  background-color: rgba(114, 121, 34, 0.9);
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.1);
}

.error {
  margin: 0;
  position: absolute;
  color: fushia;
}

input,
textarea {
  margin-top: 32px;
  padding: 0.5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  color: #4d2d52;
  border: 2px solid rgba(77, 45, 82, 0.8);
}

input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

input.error {
  border-color: red;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-feedback {
  color: red;
  margin-top: 0.25rem;
}

.country-select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-top: 32px;
  border: 2px solid rgba(77, 45, 82, 0.8);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.country-select::-ms-expand {
  display: none;
}
.country-select:hover {
  border-color: #888;
}
.country-select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px #5eb7b3;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.country-select option {
  font-weight: normal;
}

button {
  max-width: 150px;
  margin: 32px 0;
  padding: 12px 20px;
  border-style: none;
  background-color: #14586b;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: 0.5rem;
}

button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}

.navLinks {
  color: white;
  text-decoration: none;
  margin: 0 30px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid white;
}

.navLinks:hover {
  background-color: #2fafc8;
  color: white;
}
